@font-face {
    font-family: 'Roboto';
    src: url('roboto.eot'); /* IE9 Compat Modes */
    src: url('roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('roboto.woff') format('woff'), /* Modern Browsers */
    url('roboto.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('roboto.svg#svgFontName') format('svg'); /* Legacy iOS */
}

:root {
    --border-rad-sm: 30px;
    --transition: .2s;
    --shadow-dark: #6e6e6e;
    --bg-light: #e6e6e6;
    --text-color-light: #134ebb;
    --color-hover:#dae0ec;
    --h2-sm: 20px;
}

/* Link text Override */
a, a:visited, a:hover, a:active {
    color: #FFFFFF;
    text-decoration: none;
}

/* Make Text Unselectable */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }

.dropShadow {
    filter: drop-shadow(4px 4px 2px rgb(53,53,53));
}

html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Base Container Class */
.Base-Container {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    grid-template-columns: 100%;
    grid-template-rows: repeat(autofill, .5fr);
}

/* ============== NAVIGATION BAR ============== */

.NavBar-Container {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    background-color: rgb(77, 77, 77);
    padding: 15px 50px;
    z-index: 10;
    position: sticky;
    top: 0;
}

.NavBarLink {
    margin: 0 15px;
    font-size: 1.2rem;
    font-weight: 400;
    transition: var(--transition);
}

.NavBarLink:hover {
    color: var(--color-hover);
}


/* ============== PROFILE SECTION ============== */

#Profile-Container-ID {
    display: grid;
    background-color: rgb(243, 243, 243);
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    grid-template-columns: .7fr 1fr;
    grid-template-rows: 1fr;
    background-repeat: no-repeat;
    z-index: 0;
    grid-gap: 10px;
    padding-top: 4em;
    padding-bottom: 4em;
}

#ProfilePicture {
    width: 90%    !important;
    height: auto  !important;
    margin: 2vw;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    border-radius: 30px;
    justify-self: end;
    align-self: center;
}

#ProfileTitle {
    color: rgb(4, 90, 187);
    justify-self: start;
    align-self: end;
    margin-bottom: -.25em;
    font-size: 3vw;
    font-weight: bold;
}

#ProfileDescription-Container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, .25fr);
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    align-self: center;
}

#ProfileDescription {
    justify-self: start;
    align-self: start;
    font-size: 4vh;
    padding-right: 7vw;
    font-weight: 300;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48
}

/* ============== EXPERIENCE SECTION ============== */

#Experience-Container {
    display: grid;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/PlaceholderWallpaper.PNG"); /* Update this path */
    background-color: #555; /* Fallback color */
    overflow: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    padding-bottom: 2vw;
    padding-top: 2vw;
}

#Experience-Container-Logos {
    display: grid;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
}

.CompanyLogo {
    max-width: 60%;
    height: auto;
    justify-self: center;
    align-self: center;
}

#Experience-Container-Texts {
    display: grid;
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 1fr;
    color: white;
    padding-right: 2em;
}

#Experience-JobTitle {
    font-size: 2vw;
    justify-self: left;
    padding-top: 0.5em;
}

#Experience-Details {
    display: grid;
    font-size: 1.75vw;
    font-weight: 200;
    gap: 1em;
    padding-left: 2em;
    padding-right: 3em;
    margin-top: 0em;
    margin-bottom: 0em;
}

/* ============== PROJECTS SECTION ============== */

#Projects-Title {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
    font-size: 3.5vw;
    font-weight: 200;
    margin-bottom: -0.1em;
    z-index: 1;
    padding-top: .25em;
    padding-left: 4%;
}

.Projects-Cards-Container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 5%;
    gap: 1em;
    column-gap: 2%;
    row-gap: 2%;
}

/* ============== CARD CSS ==============*/

.Card-Container {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    width: auto;
    text-decoration: none;
    filter: var(--shadow-dark);
    margin-bottom: -35%;
}

.Card-Image {
    align-self: end;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: var(--border-rad-sm) var(--border-rad-sm) 0px 0px;
    grid-row: 1 / span 1;
}

.Card-Title {
    font-size: var(--h2-sm);
}

.Card-Container-Descriptor {
    font-size: 0.75vw;
    font-weight: 400;
    display: grid;
    color: black;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr 1fr .25fr;
    padding: 2em;
    height: 80%;
    border-radius: 0px 0px var(--border-rad-sm) var(--border-rad-sm);
    background-color: var(--bg-light);
    transition: var(--transition);
    grid-row: 2 / span 1;
    line-height: 1.6;
}

.Card-Container:hover > .Card-Container-Descriptor {
    background-color: var(--color-hover);
    color: var(--text-color-light);
}

.Description-Author {
    align-self: end;
}

/* ============== FOOTER SECTION ============== */

#Footer {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr;
    background-color: rgb(77, 77, 77);
    padding: 2em 1em;
    overflow: hidden;
}

#Footer-Logo {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    height: auto;
    width: 65%;
    place-self: center;
}

#Footer-Links {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    display: grid;
    place-items: center;
}

/* ============== MEDIA QUERIES ==============*/

@media only screen and (max-width: 850px) {

    .NavBar-Container {
        justify-content: center;
        padding: 1em;
    }

    .NavBarLink {
        font-size: 1.25em;
        padding: .25em;
        margin: 0 10px;
    }

    #Profile-Container-ID {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        padding-top: 2em;
    }

    #ProfilePicture {
        margin: 0 auto;
        width: 60% !important;
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
        justify-self: center;
    }

    #ProfileDescription-Container {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
        padding: 0 2em;
        text-align: center;
    }

    #ProfileTitle {
        font-size: 6vw;
        justify-self: center;
        align-self: center;
    }

    #ProfileDescription {
        font-size: 4vw;
        padding-right: 0;
        justify-self: center;
    }

    #Experience-Container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    #Experience-Container-Logos {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
        display: flex;
        justify-content: center;
        margin-bottom: 1em;
    }

    .CompanyLogo {
        max-width: 30%;
    }

    #Experience-Container-Texts {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
        padding: 0 1em;
    }

    #Experience-JobTitle {
        font-size: 4vw;
        justify-self: center;
        text-align: center;
    }

    #Experience-Details {
        font-size: 3.5vw;
        padding-left: 1em;
        padding-right: 1em;
    }

    #Projects-Title {
        font-size: 6vw;
        text-align: center;
        padding-left: 0;
    }

    .Projects-Cards-Container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .Card-Container {
        margin-bottom: 2em; 
    }

    .Card-Container-Descriptor {
        font-size: 3.5vw;
    }

    .Card-Image {
        height: 200px; 
        width: 100%;
    }

    #Footer {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        margin-top: 5em;
        gap: 2em;
    }

    #Footer-Logo {
        width: 10em;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    #Footer-Links {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1em;
    }
}

@media only screen and (min-width: 850px) {
    .Projects-Cards-Container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        padding-bottom: 10vw;
    }

    .Card-Container-Descriptor {
        font-size: 1.5vw;
    }

    .Card-Image {
        height: 250px;
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .Projects-Cards-Container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    .Card-Container-Descriptor {
        font-size: 0.85vw;
    }
}
